.page-footer {
    background-color: #DDE6ED;
    padding: 10px 0 6px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
    line-height: normal;
    font-size: 14px;
    text-align: center;
}