<header>
  <div class="container">
    <a routerLink="" class="logo" >{{appTitle}}</a>
    <nav>
      <ul>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}"><a routerLink="/">Home</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}"><a routerLink="/about">About</a></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact:
          true}"><a routerLink="/contact">Contact us</a></li>
      </ul>
    </nav>
  </div>
</header>
